/* boilerplate */

@font-face {
	font-family: 'comicoro';
	src:  url('fonts/comicoro.ttf')  format('truetype')
	}

body {
  background-color: black;
  overflow: hidden;
}

* {
  font-family: comicoro;
  color: white;
  box-sizing: border-box;
  cursor: none;
}

.cursor {
  width: 25px;
  height: auto;
  top: 0px;
  left: 0px;
  position: absolute;
  pointer-events: none;
  background-size: 100% 100%;
  image-rendering: pixelated;
  z-index: 100;
  display: inline;
}

.outline {
  filter: brightness(0) invert(1);
  mix-blend-mode: difference;
}

/* anims */
@keyframes fall {
  0% { transform: translateZ(300px) scaleZ(0); }
  10% { transform: translateZ(300px) scaleZ(3); }
  100% { transform: translateZ(8px); scaleZ(1); }
}

@keyframes fallObject {
  0% { transform: translateZ(400px) scaleZ(0); }
  10% { transform: translateZ(400px) scaleZ(3); }
  100% { transform: translateZ(11px); scaleZ(1); }
}

@keyframes greyify {
  0% { background-color: black; transform: translateZ(400px) scaleX(0) scaleY(0) scaleZ(1.4); }
  100% { background-color: dimgrey; transform: translateZ(0px) scaleX(1.4) scaleY(1.4) scaleZ(1.4); }
}

/* too laggy on lower end devices
@keyframes float {
  0% { transform: translateZ(10px) scaleX(1.4) scaleY(1.4) scaleZ(1.4); }
  100% { transform: translateZ(-10px) scaleX(1.4) scaleY(1.4) scaleZ(1.4); }
}
*/

.transitionless {
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}

.gridspace:hover .abs > img {
  filter: drop-shadow(3px 0 .5px OrangeRed) drop-shadow(0 3px .5px OrangeRed) drop-shadow(-3px 0 .5px OrangeRed) drop-shadow(0 -3px .5px OrangeRed);
}

.gridspace:hover .abs {
  transform: translateZ(15px);
}

.gridspace.object:hover {
  background: rgb(51,51,51);
  background: radial-gradient(circle, rgba(51,51,51,1) -5%, #8c8c8c 60%);
}

.gridspace:hover {
  box-shadow: 0px 7px 15px rgba(255, 255, 255, 0.3);
  transform: translateZ(3px);
}

/* ui */
#ui {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  font-size: 1.4em;
  width: 35vw;
  height: 100vh;
  background-color: rgba(0, 0, 255, 0.5);
}

#stats {
  height: 3.5em;
  width: 90vw;
  position: absolute;
  border-style: solid;
  left: 5vw;
  top: calc(100vh - 5em);
}

/* game */
#map {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0.2);
  position: absolute;
  transform: translateZ(-100px) rotatex(60deg);
  text-align: center;
  margin-top: 10vh;
}

#testdiv {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(0, 255, 255, 0.4);
  z-idnex: 24;
  pointer-events: none;
  opacity: 0.2
}

#minimap {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  aspect-ratio: 1 / 1;
  background-color: dimgrey;
  animation: greyify 1s ease 1;
  transform: scaleX(1.4) scaleY(1.4) scaleZ(1.4);
}

.gridspace {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  width: 13%;
  height: 13%;
  margin: .5%;
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-radius: 5%;
  border-width: 1px;
  background-color: #8c8c8c;
  transition: 0.1s;
  transform: translateZ(8px);
  animation: fall 1.5s ease-in-out 1;
}

.object {
  box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.5);
  transform: translateZ(11px);
  background: rgb(51,51,51);
  background: radial-gradient(circle, rgba(51,51,51,1) 20%, #8c8c8c 60%);
  transition-duration: 0.1s;
}

.abs, .abs * {
  pointer-events: none;
}

.stopanims {
  animation-play-state: paused;
  animation: none;
}

.pageload.object {
  animation-delay: .6s;
  animation: fallObject 1.5s ease-in-out 1;
  
}

.abs {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(1px);
  transition-duration: 0.15s;
}

.gridspace .abs > img {
  max-width: 90%;
  height: 120%;
  position: relative;
  transform-origin: bottom;
  transform: translateY(-80%) rotateX(-90deg);
  margin-left: -5px;

  image-rendering: pixelated;
  transition: 0.1s;
}

#mapcontainer {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 35vw;
  perspective: 1050px;
  transform-style: flat;
  perspective-origin: 50% 0%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.4);
  width: 65vw;
  height:60vh;
}

#mapcontainer * {
  text-align: center;
  transform-style: preserve-3d;
}

.coords {
  position: absolute;
  transform: translateZ(1000%) rotateX(-10deg);
  
  /* probably a pretty cursed way to do font-size, but lazier and easier for me */
  text-shadow: 0px 0px 4px black;
}

.pcompass {
  width: 50px;
  height: 100px;
  background-size: 100% 100%;
  image-rendering: pixelated;
  transform-origin: 50% 100%;
  z-index: 10;
  transform-style: flat;
  filter: grayscale(100%) brightness(10) drop-shadow(1.5px 0 0 LightGrey) drop-shadow(0 1.5px 0 LightGrey) drop-shadow(-1.5px 0 0 LightGrey) drop-shadow(0 -1.5px 0 LightGrey);
  position: absolute;
  pointer-events: none;
  box-shadow: 0px 0px 10px red;
}